<h1>About</h1>

<p>
Design has been at the forefront of advertising for as long as the latter 
has been in existence. Whether it is a strong logo, striking headline, 
or eye-popping colours, design is one of the most important aspects of ads. 
It is no wonder that in today’s advertising climate, where the competition is 
getting fiercer and tougher, Creative Agencies continue to thrive.
</p>
<p>
A lot of times, Creative Agencies get overlooked by its other more popular 
counterparts. One good example of this is the Digital Agency. The rise of 
online advertising has made Digital Agencies one of the most sought after 
service by advertisers. This creates a lot of confusion amongst advertisers 
on what type of agency they should use for their campaigns.
</p>
<p>
So what are the key differences between a Creative Agency and a Digital Agency? 
Before we answer this question, let us define the two agencies first.
</p>

<%= link_to 'Home', root_path %>