<h1>Welcome to</h1>
    <h2><strong>Social Media Managment</strong></h2> <br>

<div>
        <p><strong>Tool</strong><br>

            One simple tool to manage your social content <br><br>
            It's easy how to CREATE, EDIT and SCHEDULE, CONTROL, ANALYZE,
            and REPORT on all your social media activity in different
            social networks. <br><br>

            <strong>Stay focus on your content!</strong>
        </p>
</div>