
<div id="calendar-posts" hidden>
    <%= calendar do |date| %>
            <%= date.day %>
            <% if @posts_by_date[date]  %>
                <ul>
                    <% @posts_by_date[date].each do |post| %>
                        <li><%= link_to post.title, campaign_post_path(post) %></li>
                    <% end %>
                </ul>
            <% end %>
    <% end %>
</div>