<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-5">
    <footer>
        <div class='social-note'>
            <small>
                &copy;2019. Social Media <br>Managment Tool
            </small>
        </div>
        
        
    </footer>
</nav>