<div class='jumbotron mt-3'>
    <div class='container'> 
        <h1>Manage Your Facebook, Twitter and Instagram</h1>
        <p>Welcome to the app, one simple tool to manage your social content <br><br>
            It's easy how to CREATE, EDIT and SCHEDULE, CONTROL, ANALYZE,
            and REPORT on all your social media activity in different
            social networks.
        </p> 
        <div class='progress'>
            <div class='progress-bar progress-bar-striped' style='width: 40%;'></div>
            <div class='progress-bar progress-bar-striped bg-warning' style='width: 10%;'></div>
            <div class='progress-bar progress-bar-striped bg-danger' style='width: 10%;'></div>
            <div class='progress-bar progress-bar-striped progress-bar-animated bg-success' style='width: 10%;'></div>
            <div class='progress-bar progress-bar-striped bg-info' style='width: 30%;'></div>

        </div> 
    </div>
</div>